/*
PWA App Installer for iPadOS
Copyright (C) 2020 Felix v. Oertzen
pwaapp@von-oertzen-berlin.de

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

iPadOS is a trademark of Apple Inc., registered in the U.S. and other countries.
*/
body {
    font-family:San Francisco, Helvetica Neue, Arial;   /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */
}

#appicn {
    display: block;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reopen {
    display:none;
    bottom: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color:white;
    border: 1px solid;
    text-decoration: none;
}

#info {
  display:none;
  position:absolute;
  padding: 8px;
  margin: 8px;
  bottom:25%;
  background-color: white;
  border-radius: 8px;
  border-color: black;
  box-shadow: 5px 10px 18px #33333388;
}
@media screen and (max-width: 600px) {
  #info {
    left:0; bottom:38%;
  }
}
